
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>迷彩后台管理</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/body.css" rel="stylesheet" />
    <style>
        input {
            outline:none;
        }
    </style>
</head>
<body>
    <div class="container">
        <section id="content">
            <form action="~/Home/Login/" method="post" data-ajax="true">
                <h1>后台登录</h1>
                <div>
                    <input type="text" placeholder="账号" required="" name="username" id="username" />
                </div>
                <div>
                    <input type="password" placeholder="密码" required="" name="password" id="password" />
                </div>
                <div class="">
                    <span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
                </div>
                <div>
                    <input type="submit" value="登录" class="btn btn-primary" id="js-btn-login" />
                    <a href="/Home/UpdateLoginPwd">忘记密码?</a>
                </div>
            </form>
            <div class="button">
                <span class="help-block u-errormessage" id="js-server-helpinfo">&nbsp;</span>
            </div>
        </section>
    </div>
</body>
</html>
