
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>通道管理</title>
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap-paginator.min.js"></script>
    <script>
        $(function () {
            QueryChannels();
            $("tbody").on("mouseenter", "tr", function () {
                $(this).addClass("info");
            })
            $("tbody").on("mouseleave", "tr", function () {
                $(this).removeClass("info");
            })
        })
        function QueryChannels()
        {
            $.ajax({
                url: "./QueryChannels",
                type: "POST",
                dataType: "json",
                success: function (result)
                {
                    var Html = "";
                    $.each(result, function (index, item) {
                        var Status = item.Status == 1 ? "打开" : "关闭";
                        Html += "<tr>";
                        Html += "<td>" + item.ChannelID + "</td>";
                        Html += "<td>" + item.ProtocolID + "</td>";
                        Html += "<td>" + item.ChannelName + "</td>";
                        if (item.ChannelType == 0) 
                            Html += "<td>支付宝支付</td>";
                        else if (item.ChannelType == 1)
                            Html += "<td>微信支付</td>";
                        else if (item.ChannelType == 2)
                            Html += "<td>快捷支付</td>";
                        else if (item.ChannelType == 3)
                            Html += "<td>云闪付支付</td>";
                        else
                            Html += "<td>未知</td>";
                        if (item.Status == 1) {
                            Html += "<td style='color:blue'>" + Status + "</td>";
                        } else {
                            Html += "<td style='color:red'>" + Status + "</td>";
                        }
                        Html += "<td>";
                        Html += "<button class='btn btn-success' style='margin-left:10px' onclick='QueryDetail(" + item.ChannelID + ")'>查看</botton>";
                        if (item.Status == 1) {
                            Html += "<button class='btn btn-danger' style='margin-left:10px' onclick='OptionChannel(" + item.ChannelID + ") '>关闭</botton>";
                        } else {
                            Html += "<button class='btn btn-primary' style='margin-left:10px' onclick='OptionChannel(" + item.ChannelID + ") '>打开</botton>";
                        }
                        Html += "</td>";
                        Html += "</tr>";
                    })
                    $("tbody").html(Html);
                }
            })
        }
        function QueryDetail(channelID)
        {
            alert(channelID)
        }
        function OptionChannel(channelID) {
            $.ajax({
                type: "POST",
                url: "./OptionChannel",
                dataType: "text",
                async: false,
                data: { id: channelID },
                success: function (data) {
                    alert(data);
                    location.reload();
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    console.log(XMLHttpRequest);
                    console.log(textStatus);
                    console.log(errorThrown);
                }
            })
        }
    </script>
</head>
<body>
    <div class="table-responsive">
        <table class="table">
            <caption>第三方支付通道管理</caption>
            <thead>
                <tr>
                    <th>通道编号</th>
                    <th>通道协议</th>
                    <th>通道名称</th>
                    <th>通道类型</th>
                    <th>通道状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
    </div>
</body>
</html>
